/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #FFFF00;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Noto Sans', sans-serif;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #FFFF00;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #000000;
}

header div {
    flex: 1;
    /* Empty flex item to push h1 to the center */
}

h1 {
    margin: 10px;
    font-size: 175%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FFFF00;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: none;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #800080;
}

/* Main */
main {
    background-color: #ffff0080;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero section */
.hero-container {
    width: 100%;
    background-color: #FFFF00;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: #ff000080;
    font-size: 130%;
    position: absolute;
    bottom: 10%;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #FFFFFF;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffff0080;
}

.card {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    margin-bottom: 20px;
    background-color: #301e5f;
    color: #FFFFFF;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card .card-content {
    padding: 20px 30px;
}

.card .card-content h2,
.card .card-content p {
    margin-bottom: 10px;
    color: #FFFFFF;
    /* Text color */
}

/* Next events section */
.events-container {
    background-color: #ffff0080;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

#upcoming {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#upcoming>div {
    width: calc(100% - 30px);
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000001a;
    background-color: #301e5f;
    color: #FFFF00;
    padding: 15px;
    text-align: center;
    margin: 15px;
    border: 2px solid #301e5f;
    background-size: cover;
    background-position: center;
}

#upcoming h3 {
    /* Override the heading color set in general styles */
    color: #FFFF00;
}

/* Different background images for each event */
.monthly-build {
    background-image: url("../images/exhibition-main.jpg");
}

.monthly-meeting {
    background-image: url("../images/exhibition-main.jpg");
}

.exhibition {
    background-image: url("../images/exhibition-main.jpg");
}

/* Gallery Page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;

}

/* Form */
#contact {
    background-image: url("../images/contact-page.jpeg");
    background-size: cover;
    background-position: 50%;
    padding: 20px 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

#contact-form {
    color: #FFFFFF;
    background-color: #301e5f80;
    font-weight: bold;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    min-height: 80%;
}

#contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: red;
    width: calc(100% - 10px);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* Adding a white background when input is focused */
.text-input:focus {
    background-color: #FFFFFF;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
}

.radio-buttons label {
    position: relative;
    padding-right: 20px;
    margin-bottom: 10px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px ;
    font-size: 100%;
    background-color: #301e5f;
    color: #fafafa;
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}

.text-input:hover {
    border-color: #f16c6b;
}


#confirmation-page {
    background-image: url("../images/contact-page.jpeg");
    background-size: cover;
    background-position: 50%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#confirmation-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    background-color: #301e5f80;
    margin: 1vw;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    line-height: 1.5;
    color: #f8f8ff;
}

#confirmation-message h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #f8f8ff;
}

#confirmation-message p {
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #301e5f;
    padding: 20px 0;
}

#social-networks ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

#social-networks li {
    margin-right: 10px;
}

/* Adjust icon size */
#social-networks li a i {
    font-size: 24px;
    color: #FFFFFF;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    #upcoming>div {
        max-width: calc(50% - 30px);
        /* Two columns for tablets and larger */
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .events-container {
        justify-content: space-between;
        /* Align items like cards */
    }

    #upcoming>div {
        flex-basis: calc(33.33% - 30px);
        /* Three columns for laptops and desktops */
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }
}
